---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Override Bootstrap variables
$brand-primary:         #3fbad8;
$brand-success:         #47d973;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$jumbotron-padding:   15px;
$jumbotron-color:     #fff;
$jumbotron-bg:        #3fbad8;
$jumbotron-font-size: 14px;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: 'Arvo', "Times New Roman", Times, serif !default;
$headings-font-family: $font-family-serif;

$navbar-inverse-bg: #47d973;
$navbar-inverse-color: lighten($navbar-inverse-bg, 37%);
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-active-bg: $navbar-inverse-bg;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "syntax-highlighting"
;

.navbar {
  border: 0;
}
.navbar-brand {
  font-family: $headings-font-family;
}
.navbar-nav li.active:after, .navbar-nav li.active:before {
	bottom: 0%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.navbar-nav li.active:after {
	border-bottom-color: $jumbotron-bg;
	border-width: 8px;
	margin-left: -8px;
    z-index: 1;
}

.jumbotron {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    small,
    .small {
      color: darken($jumbotron-bg, 15%);
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    h1,
    .h1 {
      font-size: $font-size-h1;
    }
  }
}

body {
  padding-top: 50px;
}