---
layout: page
title: Blog

group: navigation
weight: 5
---

{% for post in paginator.posts %}
<h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small class="post-date">{{ post.date | date: "%b %-d, %Y" }}</small></h2>
{{ post.excerpt }}
<p><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-success">Read on <i class="fa fa-chevron-right"></i></a></p>
{% unless forloop.last %}
<hr>
{% endunless %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="text-center">
  <ul class="pagination">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span></a></li>
  {% else %}
    <li class="disabled"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span></li>
  {% endif %}
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
    {% if page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    </li>
  {% endfor %}
  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></a></li>
  {% else %}
    <li class="disabled"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></li>
  {% endif %}
  </ul>
</nav>
{% endif %}

<p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
