---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'font-arvo.css';
@import 'font-fira-mono.css';
@import 'font-fira-sans.css';

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Override Bootstrap variables
$font-size-base:   16px;
$font-size-small:  $font-size-base * 0.875;
$line-height-base: 1.5;
$text-color:       #444;

$brand-primary:         desaturate(#4B8BF5, 15%);
$brand-success:         #25a162;
$brand-info:            #4B8BF5;
$brand-warning:         #FFCE45;
$brand-danger:          #dc524a;

$jumbotron-padding:   15px;
$jumbotron-color:     #fff;
$jumbotron-bg:        darken(desaturate($brand-primary, 25%), 15%);
$jumbotron-font-size: 14px;

$font-family-sans-serif: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: 'Arvo', "Times New Roman", Times, serif !default;
$font-family-monospace: 'Fira Mono', Menlo, Monaco, Consolas, "Courier New", monospace !default;
$headings-font-family: $font-family-serif;

$navbar-height: 55px;
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-color: lighten($navbar-inverse-bg, 37%);
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-active-bg: transparent;
$navbar-margin-bottom: 0;

$pre-border-color: $brand-primary;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "syntax-highlighting"
;

.navbar {
  border: 0;
}
.navbar-brand {
  font-family: $headings-font-family;
}


/* Navbar Triangle
-------------------------------------------------- */
@media screen and (min-width: $screen-sm-min) {
    .navbar-main.navbar-nav {
    	li.active:after, li.active:before {
    		bottom: 0%;
    		left: 50%;
    		border: solid transparent;
    		content: " ";
    		height: 0;
    		width: 0;
    		position: absolute;
    		pointer-events: none;
    	}
    	li.active:after {
    		border-bottom-color: $navbar-inverse-link-active-color;
    		border-width: 8px;
    		margin-left: -8px;
    	    z-index: 1;
    	}
    }
}

/* Social Links
-------------------------------------------------- */
.navbar-inverse {
	.navbar-nav {
		> li.social {
			font-size: .85em;
		}
		> li.social > a {
			color: $navbar-inverse-bg;
			padding: 9px 2px 0 2px;
		}
		> li.social > a .background {
			color: $navbar-inverse-color;
		}
		> li.social > a:hover .foreground {
			color: #fff;
		}
		> li.social.email {
			.foreground {
				margin-top: -1px;
			}
			.foreground, :hover .background {
				color: $brand-warning;
			}
		}
		> li.social.mastodon {
			.foreground {
				font-size: 1.3em;
			}
			.foreground, :hover .background {
                color: #5b4fe5;
			}
		}
		> li.social.github {
			.foreground, :hover .background {
				color: #000;
			}
		}
		> li.social.xing {
			.foreground {
				margin-top: 1px;
				font-size: 1.3em;
			}
			.foreground, :hover .background {
				color: #006567;
			}
		}
		> li.social.linkedin {
			.foreground {
				font-size: 1.2em;
			}
			.foreground, :hover .background {
				color: #007BB6;
			}
		}
		> li.social.bluesky {
			.foreground {
				margin-top: 1px;
			}
			.foreground, :hover .background {
				color: #0085ff;
			}
		}
	}
	.tooltip-inner {
	  min-width: 90px;
	}
}

$header-bg-image-offset: 5px;

.jumbotron, header .navbar, body.landing-page {
  background-image: url({{ site.baseurl }}/img/congruent_pentagon.png);
  background-size: 300px;
}
body.landing-page {
  background-color: $jumbotron-bg;
  color: white;
}
.landing-page .jumbotron {
  background-color: transparent;
  background-image: none;
  text-align: center;
  display: none;
}
.landing-page #content {
  text-align: center;
  margin: 20px 0;
}
@media (min-width: $screen-sm-min) {
  .landing-page #content {
    position: absolute;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
  }
}
.landing-page footer .text-muted {
  color: lighten($jumbotron-bg, 20%);
}
header .navbar, body.landing-page {
  background-position: left top $header-bg-image-offset;
}
.jumbotron {
  background-position: left top (($navbar-height * -1) + $header-bg-image-offset);
}

.jumbotron {
	margin-bottom: 30px;
	h1, .h1 {
		margin-top: 10px;
	}
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    small,
    .small {
      color: darken($jumbotron-bg, 20%);
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    h1,
    .h1 {
      font-size: $font-size-h1;
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    padding-left: 0;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
$footer_height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer_height + 30px;
}
footer {
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  background-color: #f5f5f5;
}
.landing-page footer {
  background-color: rgba(darken($jumbotron-bg, 20%), 50%);
}

/* Blog
-------------------------------------------------- */
.post-date {
	white-space: nowrap;
}
.well :last-child {
	margin-bottom: 0;
}

/* Talks
-------------------------------------------------- */
.talk {
  img {
    border-bottom: 1px solid $thumbnail-border;
    object-fit: cover;
    width: 100%
  }
  &, .caption {
    padding-bottom: 0;
  }
  .caption {
    padding-top: 12px;
  }
}

/* Contact
-------------------------------------------------- */
.contact-form-message {
	resize: vertical;
}
