<header class="site-header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.data.translations[page.lang].index | prepend: site.url }}">{{ site.title }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-main">
          {% assign sorted_pages = (site.pages | where: 'group', 'navigation' | sort: 'weight') %}
          {% for node in sorted_pages %}
            {% unless node.url contains 'page' %}
            {% if node.lang == page.lang %}
            {% if node.url == page.url or node.url == page.nav_url or (page.is_post and node.is_blog_index)%}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
            <a href="{{ node.url | prepend: site.baseurl | replace:'index.html','' }}">{{ node.title }}</a></li>
            {% endif %}
            {% endunless %}
          {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-lg fa-language" aria-hidden="true"></i> {{ site.data.translations[page.lang].name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% if page.is_post %}
              {% include translations-list-items.html pages=site.posts %}
              {% else %}
              {% include translations-list-items.html pages=site.pages %}
              {% endif %}
            </ul>
          </li>
          {% comment %}
          <li class="social email hidden-xs">
            <a href="{{ "/contact/" | prepend: site.baseurl }}"  data-toggle="tooltip" data-placement="bottom" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x background"></i>
                <i class="fa-solid fa-envelope fa-stack-1x foreground"></i>
              </span>
            </a>
          </li>
          {% endcomment %}
          <li class="social github hidden-xs">
            <a href="https://github.com/marcphilipp"  data-toggle="tooltip" data-placement="bottom" title="marcphilipp on GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x background"></i>
                <i class="fa-brands fa-github fa-stack-1x fa-lg foreground"></i>
              </span>
            </a>
          </li>
          <li class="social linkedin hidden-xs">
            <a href="https://www.linkedin.com/in/marcphilipp"  data-toggle="tooltip" data-placement="bottom" title="Marc Philipp on LinkedIn">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x background"></i>
                <i class="fa-brands fa-linkedin fa-stack-1x fa-lg foreground"></i>
              </span>
            </a>
          </li>
          <li class="social xing hidden-xs">
            <a href="https://www.xing.com/profile/Marc_Philipp9"  data-toggle="tooltip" data-placement="bottom" title="Marc Philipp on Xing">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x background"></i>
                <i class="fa-brands fa-xing fa-stack-1x fa-lg foreground"></i>
              </span>
            </a>
          </li>
          <li class="social mastodon hidden-xs">
            <a rel="me" href="https://chaos.social/@marcphilipp" data-toggle="tooltip" data-placement="bottom" title="@marcphilipp@chaos.social on Mastodon">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x background"></i>
                <i class="fa-brands fa-mastodon fa-stack-1x fa-lg foreground"></i>
              </span>
            </a>
          </li>
          <li class="social bluesky hidden-xs">
            <a rel="me" href="https://bsky.app/profile/marcphilipp.de" data-toggle="tooltip" data-placement="bottom" title="@marcphilipp.de on Bluesky">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x background"></i>
                <i class="fa-brands fa-bluesky fa-stack-1x fa-lg foreground"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
