---
layout: page
---

{{ content }}

{% assign translations = site.data.translations[page.lang] %}

<div class="alert alert-success" role="alert">
    <p class="lead">{{ translations.contact.thanks.message }}, <span id="contact-sender-name"></span>!</p>
    <p>{{ translations.contact.thanks.explanation }}</p>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const name = urlParams.get('name');
    document.getElementById("contact-sender-name").textContent = name;
</script>
