---
layout: page
---

{{ content }}

{% assign translations = site.data.translations[page.lang] %}
{% assign talks_by_year = site.data.talks | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

{% for entry in talks_by_year %}
<h2>{{ entry.name }}</h2>
<div class="row">
{% for talk in entry.items %}
    {% assign location = talk.city %}
    {% if translations.cities[talk.city] %}
    {% assign location = translations.cities[talk.city] %}
    {% endif %}
    {% if location %}
    {% unless page.lang == talk.country %}
    {% assign location = location | append: ", " | append: translations.countries[talk.country] %}
    {% endunless %}
    {% endif %}
    <div class="col-sm-6 col-md-4">
        <div class="talk thumbnail clearfix">
            {% if talk.slides %}
            <a href="{{ talk.slides }}">
            {% endif %}
            <img src="{{ site.baseurl }}/{% if talk.slideImage %}{{ talk.slideImage }}{% else %}img/slide_placeholder.png{% endif %}">
            {% if talk.slides %}
            </a>
            {% endif %}
            <div class="caption">
                <p>
                    <strong>
                        {{ talk.title }}
                        {% if talk.co-speakers %}
                        ({{ translations.talks.with }} {{ talk.co-speakers }})
                        {% endif %}
                    </strong>
                </p>
                <p>
                    <em>{{ talk.event }}</em><br>
                    {% if location %}{{ location }}<br>{% endif %}
                    {{ talk.date | date: translations.blog.date_format }}
                    {% if talk.date_max %} - {{ talk.date_max | date: translations.blog.date_format }}{% endif %}
                </p>
                <ul class="list-inline text-right">
                    {% if talk.abstract %}
                    <li>
                        <a href="{{ talk.abstract }}">
                            <i class="fa-solid fa-align-left" aria-hidden="true"></i>
                            {{ translations.talks.abstract }}
                        </a>
                    </li>
                    {% endif %}
                    {% if talk.slides %}
                    <li>
                        <a href="{{ talk.slides }}">
                            <i class="fa-brands fa-slideshare" aria-hidden="true"></i>
                            {{ translations.talks.slides }}
                        </a>
                    </li>
                    {% endif %}
                    {% if talk.youtube %}
                    <li>
                        <a href="https://yewtu.be/watch?v={{ talk.youtube }}">
                            <i class="fa-solid fa-play-circle" aria-hidden="true"></i>
                            {{ translations.talks.recording }}
                        </a>
                    </li>
                    {% endif %}
                    {% if talk.recording %}
                    <li>
                        <a href="{{ talk.recording }}">
                            <i class="fa-solid fa-play-circle" aria-hidden="true"></i>
                            {{ translations.talks.recording }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 0 %}{% unless forloop.last %}
    <div class="clearfix visible-sm-block"></div>
    {% endunless %}{% endif %}
    {% assign remainder = forloop.index | modulo: 3 %}
    {% if remainder == 0 %}{% unless forloop.last %}
    <div class="clearfix visible-md-block visible-lg-block"></div>
    {% endunless %}{% endif %}
    {% endfor %}
</div>
{% endfor %}
