---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1>{{ page.title }} <small class="post-date">{{ page.date | date: site.data.translations[page.lang].blog.date_format }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small></h1>
  </div>
</div>

<div class="container">
  <article role="article">
  {{ content }}
  </article>

{% assign relevant_posts = site.posts | where: 'lang', page.lang | where_exp: 'item', 'item.ref != page.ref' %}
{% assign previous = relevant_posts | where_exp: 'item', 'item.date < page.date' | first %}
{% assign next = relevant_posts | where_exp: 'item', 'item.date > page.date' | last %}
{% if previous or next %}
  <nav class="text-center">
    <ul class="pagination">
    {% if previous %}
      <li><a href="{{ previous.url | prepend: site.baseurl }}"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span> {{ previous.title }}</a></li>
    {% endif %}
    {% if next %}
      <li><a href="{{ next.url | prepend: site.baseurl }}">{{ next.title }} <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></a></li>
    {% endif %}
    </ul>
  </nav>
{% endif %}

{% if site.disqus_short_name and page.comments %}
  <section class="comments">
    {% include disqus_thread.html %}
  </section>
{% endif %}
</div>
